<footer class="bg-body-tertiary text-center text-lg-start fixed-bottom">
    <div class="text-center p-3" style="display: flex;background-color: rgba(250, 240, 240, 0.5);justify-content: space-between;">
        <strong>Introducción a la Programación | UNGS</strong>
        <nav style="display: flex; gap: 15px;">
            <a href="https://github.com/lilux91/tpIp2024" target="_blank" style="text-decoration: none; color: black;">GitHub</a>
        </nav>
        <strong>{{VERSION}}</strong>
    </div>
</footer>
</body>

</html>